@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
  background-color: #f8f8f8;
  font-family: 'Josefin Sans', ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

h1 {
  font-size: 6rem;
  line-height: 1;
}

a {
  color: #000;
}

a:hover {
  cursor: pointer;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-center {
  justify-content: center;
}

.flex-ai-center {
  align-items: center;
}

.fit-content {
  height: fit-content;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.p-025 {
  padding: .25rem;
}

.a-btn {
  text-decoration: none;
  border: 2px solid #000;
  font-size: 1.5rem;
  padding: 4px 10px;
}

.font-md {
  font-weight: 500;
}